*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background:#e5e5e5;

}

.container {
  max-width:1200px;
  margin:auto;
}

.stline{
  width:100%;
  background:white;
  height:600px;
  margin: 20px 0px 20px 0px;
  font-family: 'Roboto', sans-serif;
}

.stline::before{
  content:"";
  display:block;
  width:100%;
  height:5px;
  background:#0974b3;
}

.newton h1{
  color:#0974b3;
  margin:20px 0px 0px 20px;
}

.newton h3{
  color:#666;
  font-weight: lighter;
  margin-left:20px;
}
.image{
  position:relative;
  width:280px;
  height:380px;
  top:20px;
  left:20px;
  float:left;
  margin-right:40px;
}

.image .photo_newton{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
}

.newton section{
  margin-top:20px;
  margin-bottom:20px;
  line-height: 25px;
  font-size:20px;
}


.einsteintesla{
  display: flex;
  justify-content:space-between;
}

.einsteintesla .einstein {
  display: flex;
  flex-direction: column;
  width:600px;
  font-family: 'Roboto', sans-serif;
}

.einsteincontent::before{
  content:"";
  width:100%;
  height:5px;
  display:block;
  background:#0974b3;

}
.einstein .einsteincontent{
width:100%;
height:500px;
background:white;
}

.einsteincontent h1{
  color:#0974b3;
  margin:20px 0px 0px 20px;
}
.einsteincontent h3{
  color:#666;
  font-weight: lighter;
  margin-left:20px;
}

.einsteincontent .image_2{
  position:relative;
  top:20px;
  left:20px;
  margin-right:40px;
  margin-bottom:40px;
  width:210px;
  height:240px;
  float:left;
}

.einsteincontent .image_2 .image_einstein{
  position:absolute;
  width:100%;
  height:100%;
}

.einsteincontent section{
  margin-left:20px;
}

.einsteincontent section p{
  margin:20px 20px 10px 0px;
  line-height:22px;
}



.einsteintesla .tesla{
  display:flex;
  flex-direction: column;
}

.tesla .teslacontent{
  width:500px;
  height:500px;
  margin-left:50px;
  background:white;
  font-family: 'Roboto', sans-serif;
}

.teslacontent::before{
  content:"";
  display:block;
  width:100%;
  height:5px;
  background:#0974b3;
}

.teslacontent h1{
  color:#0974b3;
  margin:20px 0px 0px 20px;
}

.teslacontent h3{
  color:#666;
  font-weight: lighter;
  margin-left:20px;
}

.teslacontent .image_3 {
  position:relative;
  width:240px;
  height:260px;
  top:20px;
  left:20px;
  margin-bottom:30px;
  float:left;
  margin-right:50px;
}

.teslacontent .image_3 .photo_tesla {
  position:absolute;
  width:100%;
  height:100%;
}

.teslacontent section{
  margin-right:20px;
  margin-top:20px;
  margin-left:20px;
  line-height: 22px;
  margin-bottom:20px;
  text-align: left;

}

.teslacontent a{
  margin-left:20px;
}

.italic {
  font-style: italic;
}

/*font-family: 'Roboto', sans-serif;*/
